body {
    color: coral;
    background-color: rgb(255, 221, 209);
    padding: 20px;
    margin: 5px;
    justify-items: center;
    align-items: center;
}

h1 {
    color: red;
}

h2 {
    color: rgb(252, 51, 51);
}

header {
    background-color: brown;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: brown;
    padding: 20px;
}

.imagen {

    display: flex;

    height: 40%;
    width: 30%;
    padding: 30px;
}

.imag {
    height: 30%;
    width: 20%;
    padding: 30px;
}